In [5]:
import pandas_datareader.data as web
from datetime import datetime

In [6]:
start_date = datetime(2017, 1, 1)
end_date = datetime(2017, 12, 31)

In [15]:
aapl = web.DataReader('aapl', 'morningstar', start_date, end_date)

In [16]:
aapl

                    Close      High       Low     Open     Volume
Symbol Date
aapl   2017-01-02  115.82  115.8200  115.8200  115.820          0
       2017-01-03  116.15  116.3300  114.7600  115.800   28781865
       2017-01-04  116.02  116.5100  115.7500  115.850   21118116
       2017-01-05  116.61  116.8642  115.8100  115.920   22193587
       2017-01-06  117.91  118.1600  116.4700  116.780   31751900
       2017-01-09  118.99  119.4300  117.9400  117.950   33561948
       2017-01-10  119.11  119.3800  118.3000  118.770   24462051
       2017-01-11  119.75  119.9300  118.6000  118.740   27588593
       2017-01-12  119.25  119.3000  118.2100  118.895   27086220
       2017-01-13  119.04  119.6200  118.8100  119.110   26111948
       2017-01-16  119.04  119.0400  119.0400  119.040          0
       2017-01-17  120.00  120.2400  118.2200  118.340   34439843
       2017-01-18  119.99  120.5000  119.7100  120.000   23712961
       2017-01-19  119.78  120.0900  119.3700  119.400   25597291
       2017-01-20  120.00  120.4500  119.7346  120.450   32597892
       2017-01-23  120.08  120.8100  119.7700  120.000   22050218
       2017-01-24  119.97  120.1000  119.5000  119.550   23211038
       2017-01-25  121.88  122.1000  120.2800  120.420   32586672
       2017-01-26  121.94  122.4400  121.6000  121.670   26337576
       2017-01-27  121.95  122.3500  121.6000  122.140   20562944
       2017-01-30  121.63  121.6300  120.6600  120.930   30377503
       2017-01-31  121.35  121.3900  120.6200  121.150   49200993
       2017-02-01  128.75  130.4900  127.0100  127.030  111985040
       2017-02-02  128.53  129.3900  127.7800  127.975   33710411
       2017-02-03  129.08  129.1900  128.1600  128.310   24507301
       2017-02-06  130.29  130.5000  128.9000  129.130   26845924
       2017-02-07  131.53  132.0900  130.4500  130.540   38183841
       2017-02-08  132.04  132.2200  131.2200  131.350   22941341
       2017-02-09  132.42  132.4450  131.1200  131.650   28349859
       2017-02-10  132.12  132.9400  132.0500  132.460   20065458
...                   ...       ...       ...      ...        ...
       2017-11-20  169.98  170.5600  169.5600  170.290   16262447
       2017-11-21  173.14  173.7000  170.7800  170.780   25131295
       2017-11-22  174.96  175.0000  173.0500  173.360   25588925
       2017-11-23  174.96  174.9600  174.9600  174.960          0
       2017-11-24  174.97  175.5000  174.6459  175.100   14026673
       2017-11-27  174.09  175.0800  173.3400  175.050   20716802
       2017-11-28  173.07  174.8700  171.8600  174.300   26428802
       2017-11-29  169.48  172.9200  167.1600  172.630   41666364
       2017-11-30  171.85  172.1400  168.4400  170.430   41527218
       2017-12-01  171.05  171.6700  168.5000  169.950   39759288
       2017-12-04  169.80  172.6200  169.6300  172.480   32542385
       2017-12-05  169.64  171.5200  168.4000  169.060   27350154
       2017-12-06  169.01  170.2047  166.4600  167.500   28560000
       2017-12-07  169.32  170.4400  168.9100  169.030   25673308
       2017-12-08  169.37  171.0000  168.8200  170.490   23355231
       2017-12-11  172.67  172.8900  168.7900  169.200   35273759
       2017-12-12  171.70  172.3900  171.4610  172.150   19409230
       2017-12-13  172.27  173.5400  172.0000  172.500   23818447
       2017-12-14  172.22  173.1300  171.6500  172.400   20476541
       2017-12-15  173.97  174.1700  172.4600  173.630   40169307
       2017-12-18  176.42  177.2000  174.8600  174.880   29421114
       2017-12-19  174.54  175.3900  174.0900  175.030   27436447
       2017-12-20  174.35  175.4200  173.2500  174.870   23475649
       2017-12-21  175.01  176.0200  174.1000  174.170   20949896
       2017-12-22  175.01  175.4240  174.5000  174.680   16349443
       2017-12-25  175.01  175.0100  175.0100  175.010          0
       2017-12-26  170.57  171.4700  169.6790  170.800   33185536
       2017-12-27  170.60  170.7800  169.7100  170.100   21498213
       2017-12-28  171.08  171.8500  170.4800  171.000   16480187
       2017-12-29  169.23  170.5900  169.2200  170.520   25999922

[260 rows x 5 columns]